Repository chenjeraimunyaradzi05-art/Ngurra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "apps/api/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

fix(netlify): add NETLIFY_NEXT_PLUGIN_SKIP to disable mobile app processing
  netlify.toml
Due: none

fix(netlify): set package directory to apps/web and remove legacy plugin
  netlify.toml
  package-lock.json
  package.json
Due: prettier --write

fix(netlify): add environment variables to override UI settings and disable legacy plugin
  netlify.toml
Due: none

fix(netlify): simplify configuration - remove package directive to rely on UI
  netlify.toml
Due: none

fix(netlify): target apps/web and disable legacy edge bundling
  netlify.toml
Due: none

fix: remove turbopack config key and add --webpack to build script
  apps/web/next.config.js
  apps/web/package.json
Due: eslint --fix, prettier --write

fix: add --legacy-peer-deps to install and upgrade eslint-config-next to v16
  apps/web/package.json
  netlify.toml
Due: prettier --write

fix: update searchParams to Promise type for Next.js 16 compatibility
  apps/web/src/app/login/page.tsx
  apps/web/src/app/register/page.tsx
  apps/web/src/app/sign-in/page.tsx
  apps/web/src/app/sign-up/page.tsx
Due: eslint --fix, prettier --write

fix(deps): group eslint with eslint-config-next to prevent independent version bumps
  .github/dependabot.yml
Due: prettier --write

rebrand: final cleanup - globals.css class names, next.config.js domains, css/general.css
  apps/web/next.config.js
  apps/web/src/app/globals.css
  css/general.css
Due: eslint --fix, prettier --write

polish: fix EnhancedHeader logo to use tinashe-logo.png
  apps/web/src/components/EnhancedHeader.tsx
Due: eslint --fix, prettier --write

rebrand: update netlify.toml domain references to tinashe.life
  netlify.toml
Due: none

rebrand: clean up tests, next-sitemap.config.js, docker-compose domains to tinashe
  apps/web/next-env.d.ts
  apps/web/next-sitemap.config.js
  apps/web/tests/admin-analytics.spec.js
  apps/web/tests/ai-throttle-ui.spec.js
  apps/web/tests/billing-analytics.spec.js
  apps/web/tests/mentor-dashboard.spec.js
  apps/web/tests/mentor-setup.spec.js
  apps/web/tests/mentorship-extended.spec.js
  apps/web/tests/mobile-responsive.spec.js
  apps/web/tests/phase7-billing.spec.js
  apps/web/tests/phase8a-mentorship.spec.js
  apps/web/tests/phase8b-training.spec.js
  apps/web/tests/phase8c-community.spec.js
  apps/web/tests/phase9a-analytics.spec.js
  apps/web/tests/schedule.spec.js
  apps/web/tests/subscription-stripe.spec.js
  apps/web/tests/tafe-dashboard.spec.js
  apps/web/tests/tafe-setup.spec.js
  docker-compose.production.yml
Due: eslint --fix, prettier --write

rebrand: rename package to tinashe-web, final cleanup
  apps/web/package.json
Due: prettier --write

polish: full dark/light mode overhaul - pink/purple brand accents, dark: variants, smooth transitions
  apps/web/src/app/globals.css
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/HeaderNavigation.tsx
Due: eslint --fix, prettier --write

fix: add legacy-peer-deps to root .npmrc + upgrade eslint to v9 to fix Netlify build ERESOLVE
  .npmrc
  apps/web/package.json
Due: prettier --write

chore: rename developer to © MoneyMan across page, founders, footer, layout
  apps/web/src/app/founders/page.jsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/Footer.jsx
Due: eslint --fix, prettier --write

feat: footer Tinashe logo, AI floating button pink/purple rebrand, netlify launch prep
  apps/web/src/components/AIAssistant.tsx
  apps/web/src/components/Footer.jsx
  netlify.toml
Due: eslint --fix, prettier --write

fix: widen Recharts Tooltip formatter value type to fix TS build error
  apps/web/src/components/AdminAnalyticsDashboard.tsx
Due: eslint --fix, prettier --write

fix: fix second Recharts Tooltip formatter type error at line 829
  apps/web/src/components/AdminAnalyticsDashboard.tsx
Due: eslint --fix, prettier --write

fix: update Railway connection to mainline.proxy.rlwy.net:45270 in redirect, CSP, and SSR apiBase
  apps/api/src/middleware/csp.ts
  apps/web/src/lib/apiBase.js
  netlify.toml
Due: eslint --fix, prettier --write

fix: resolve connection issues - CORS origins, Railway URL, socket/nextauth env vars
  Dockerfile.railway
  apps/api/src/app.ts
  netlify.toml
Due: eslint --fix, prettier --write

fix: add tinashe-life.netlify.app to CORS, CSP, and Netlify env vars
  apps/api/src/app.ts
  apps/api/src/middleware/csp.ts
  netlify.toml
Due: eslint --fix, prettier --write

fix: revert API URL to correct HTTP endpoint (was pointing at PostgreSQL proxy)
  apps/api/src/middleware/csp.ts
  apps/web/src/lib/apiBase.js
  netlify.toml
Due: eslint --fix, prettier --write

fix: clean PORT handling - remove 5432 filter, trust Railway PORT directly
  Dockerfile.railway
  apps/api/src/index.ts
Due: eslint --fix, prettier --write

fix: bump SW cache to v2 and make install resilient - bust stale caches with wrong API URLs
  apps/web/public/sw.js
Due: eslint --fix, prettier --write

fix: resolve LiveKit version compatibility issue - update @livekit/components-react to v3.5.0
  apps/api/src/config/env.ts
  apps/api/src/db.ts
  apps/api/src/index.ts
  apps/api/src/lib/databaseEnv.ts
  apps/api/src/lib/env.ts
  apps/mobile/package-lock.json
  apps/web/.env.example
  apps/web/NETLIFY_ENV_VARS.txt
  apps/web/middleware.ts
  apps/web/next-env.d.ts
  apps/web/package.json
  apps/web/src/app/founders/page.jsx
  apps/web/src/app/page.tsx
  apps/web/src/components/BrandLogo.tsx
  apps/web/src/components/EnhancedHeader.tsx
  apps/web/src/components/Footer.jsx
  apps/web/src/components/HeaderNavigation.tsx
  apps/web/src/lib/apiBase.js
  apps/web/src/lib/authSession.ts
  apps/web/src/lib/socket.ts
  netlify.toml
  netlify/functions/database-url.js
  netlify/functions/health.js
  netlify/functions/stripe-webhook.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: update LiveKit packages to compatible versions - @livekit/components-react@2.9.21 and livekit-client@2.18.9
  apps/web/package.json
Due: prettier --write

feat: futuristic UX/UI, security hardening, Neon DB integration
  apps/api/.env.example
  apps/api/src/app.ts
  apps/web/src/app/globals.css
  apps/web/src/app/page.tsx
  apps/web/tailwind.config.js
  netlify.toml
Due: eslint --fix, prettier --write

fix: npm audit fix - reduce vulnerabilities 262 -> 37
  package-lock.json
Due: prettier --write

feat: comprehensive 50% project audit and improvements
  apps/api/package.json
  apps/web/package.json
  docker-compose.yml
  netlify.toml
  package.json
Due: prettier --write

fix: remove trailing comma in web package.json (lint error)
  apps/web/package.json
Due: prettier --write

fix: phase 11-20 audit - critical Neon connection fix + security hardening
  .gitignore
  apps/api/src/routes/auth.ts
  netlify.toml
  netlify/functions/health.js
Due: eslint --fix, prettier --write
