Repository chenjeraimunyaradzi05-art/Ngurra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: simplify railway config - requires root directory setting
  apps/api/nixpacks.toml
  railway.toml
Due: none

fix: use Dockerfile for Railway to avoid monorepo timeout
  apps/api/Dockerfile.railway
  railway.toml
Due: none

perf: optimize Docker build for faster Railway deploys
  apps/api/.dockerignore
  apps/api/Dockerfile.railway
  apps/api/nixpacks.toml
  apps/api/prisma/schema.prisma
  apps/api/railway.toml
  railway.toml
Due: none

fix: dockerfile paths for railway
  apps/api/Dockerfile.railway
Due: none

fix: simplify dockerfile to 2-stage build
  apps/api/Dockerfile.railway
Due: none

fix: remove restrictive watch patterns from railway config
  railway.toml
Due: none

fix: use npm ci instead of npm install
  apps/api/Dockerfile.railway
Due: none

fix: simplify dockerfile - copy entire api directory
  apps/api/Dockerfile.railway
Due: none

chore: regenerate package-lock.json
  apps/api/package-lock.json
Due: prettier --write

fix: use --no-workspaces flag to avoid monorepo issues
  apps/api/Dockerfile.railway
  package-lock.json
Due: prettier --write

fix: correct entrypoint to dist/index.js
  apps/api/Dockerfile.railway
Due: none

fix: update startCommand to correct entrypoint
  railway.toml
Due: none

fix: use /health/live endpoint for health checks
  apps/api/Dockerfile.railway
  railway.toml
Due: none

fix(deploy): copy prisma schema before npm install
  Dockerfile.railway
Due: none

fix(deploy): use dynamic PORT from Railway environment
  Dockerfile.railway
  railway.toml
Due: none

fix(deploy): improve error handling and make DATABASE_URL optional
  apps/api/src/index.ts
  apps/api/src/lib/env.ts
Due: eslint --fix, prettier --write

fix(deploy): add early startup logging to diagnose crash
  apps/api/src/index.ts
Due: eslint --fix, prettier --write

fix(deploy): lazy-load Prisma and add detailed startup diagnostics
  apps/api/src/db.ts
  apps/api/src/index.ts
Due: eslint --fix, prettier --write

fix: align healthcheck path with Railway default (/health)
  railway.toml
Due: none

fix: use /health for healthcheck path
  railway.toml
Due: none

fix(deploy): correct entry point path - dist/index.js not dist/src/index.js
  Dockerfile.railway
Due: none

fix(deploy): correct start command in apps/api/railway.toml - dist/index.js
  apps/api/railway.toml
Due: none

fix(deploy): fix Redis rate limiting and PORT=5432 conflict
  apps/api/src/app.ts
  apps/api/src/index.ts
Due: eslint --fix, prettier --write

fix(deploy): add startCommand to railway.toml - fixes 'No workspaces found' error
  railway.toml
Due: none

fix(web): add react-is dependency for recharts
  apps/web/package.json
Due: prettier --write

fix(netlify): update API URLs to Railway production
  netlify.toml
Due: none

fix(api): increase rate limits for initial deployment
  apps/api/src/app.ts
  apps/api/src/middleware/rateLimit.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: ((any of: *.{js,jsx,ts,tsx}) or (any of: apps/api/**/*.{ts,tsx})) or (any of: apps/web/**/*.{ts,tsx,js,jsx})
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})) or (any of: apps/api/**/*.{ts,tsx})) or (any of: apps/web/**/*.{ts,tsx,js,jsx})
