Repository chenjeraimunyaradzi05-art/Ngurra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: remove netlify-plugin-cache (not required)
  netlify.toml
Due: none

fix: make bundle-analyzer optional for Netlify builds
  apps/web/next.config.js
Due: eslint --fix, prettier --write

fix: move autoprefixer and postcss to dependencies for Netlify build
  apps/web/package.json
Due: prettier --write

fix: move typescript to dependencies for Netlify build
  apps/web/package.json
Due: prettier --write

chore: sync web package-lock for types
  apps/web/package-lock.json
Due: prettier --write

fix: move react types to dependencies for Netlify build
  apps/web/package-lock.json
  apps/web/package.json
Due: prettier --write

fix: update domain to ngurrapathways.life
  .github/workflows/deploy-staging.yml
  apps/web/next.config.js
  apps/web/tsconfig.json
  netlify.toml
Due: eslint --fix, prettier --write

fix: remove invalid outputFileTracing config and set outputFileTracingRoot
  apps/web/next.config.js
Due: eslint --fix, prettier --write

refactor: move middleware to src directory
  apps/web/src/middleware.ts
Due: eslint --fix, prettier --write

fix: next.config standalone mode and middleware edge compatibility
  apps/web/next.config.js
  apps/web/src/middleware.ts
Due: eslint --fix, prettier --write

fix: prepare for Netlify deployment - update domain to .life, fix serverless middleware
  apps/web/.env.example
  apps/web/next-sitemap.config.js
  apps/web/next.config.js
  apps/web/public/robots.txt
  apps/web/src/app/layout.tsx
  apps/web/src/middleware.ts
Due: eslint --fix, prettier --write

fix: comprehensive platform audit - fix broken links, CSS issues, missing assets, and domain references
  .github/workflows/deploy-staging.yml
  apps/web/src/app/loading.jsx
  apps/web/src/app/offline/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/sitemap.ts
  apps/web/src/components/Loading.jsx
  apps/web/src/components/SearchBar.tsx
  netlify/functions/stripe-webhook.js
  tools/final-integration-test.js
Due: eslint --fix, prettier --write

fix: allow external font and correct Netlify functions path
  apps/web/next.config.js
  apps/web/src/middleware.ts
  netlify.toml
Due: eslint --fix, prettier --write

chore: sync pending changes
  .github/workflows/deploy-staging.yml
  apps/web/src/app/loading.jsx
  apps/web/src/app/offline/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/sitemap.ts
  apps/web/src/components/Loading.jsx
  apps/web/src/components/SearchBar.tsx
Due: eslint --fix, prettier --write

fix: remove proxy.js before build to avoid middleware conflict
  apps/web/package.json
  apps/web/scripts/prebuild-clean.js
Due: eslint --fix, prettier --write

fix: add jsonwebtoken for Netlify functions
  package.json
Due: prettier --write

fix: add jsonwebtoken to web deps for Netlify functions
  apps/web/package.json
Due: prettier --write

fix(build): configure netlify functions dependencies and build base
  netlify.toml
  netlify/functions/package-lock.json
  netlify/functions/package.json
Due: prettier --write

fix(build): conditionally run husky in prepare script
  package.json
Due: prettier --write

fix(build): add workspaces config to root package.json
  package.json
Due: prettier --write

fix(deps): downgrade eslint to 8.57.0 to resolve conflicts
  apps/web/package.json
  package.json
Due: prettier --write

fix(prisma): add missing relations to User model for Phase 10
  apps/api/prisma/schema.prisma
Due: none

fix(deps): pin @types/react to 18.2.0 to match react version
  apps/web/package.json
Due: prettier --write

fix(types): add styled-jsx reference for Next.js
  apps/web/next-env.d.ts
Due: eslint --fix, prettier --write

fix(deps): pin react types via npm overrides
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: ((any of: *.{js,jsx,ts,tsx}) or (any of: apps/api/**/*.{ts,tsx})) or (any of: apps/web/**/*.{ts,tsx,js,jsx})
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})) or (any of: apps/api/**/*.{ts,tsx})) or (any of: apps/web/**/*.{ts,tsx,js,jsx})
