Repository chenjeraimunyaradzi05-art/Ngurra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(grants): redesign grants page with dark theme + fix React 19 type errors
  apps/web/next-env.d.ts
  apps/web/src/app/grants/page.tsx
  apps/web/src/components/ui/Breadcrumbs.tsx
  apps/web/src/components/ui/Card.tsx
Due: eslint --fix, prettier --write

security: protect AI endpoints and update CORS for live domain
  apps/api/src/app.ts
  apps/api/src/middleware/csp.ts
  apps/api/src/routes/ai.ts
Due: eslint --fix, prettier --write

ui: improve Kangaroo AI logo design next to AI text
  apps/web/src/components/AIAssistant.tsx
Due: eslint --fix, prettier --write

style(mentorship): redesign page with platform teal/gold theme
  apps/web/src/app/mentorship/MentorshipClient.jsx
Due: eslint --fix, prettier --write

style(web): redesign mentorship page with platform-consistent styling
  apps/web/src/app/mentorship/MentorshipClient.jsx
Due: eslint --fix, prettier --write

feat: implement women-only registration gate with self-attestation and invitation system
  ATHENA_MASTER_BLUEPRINT_v6_COMPLETE.md
  apps/api/prisma/schema.prisma
  apps/api/src/app.ts
  apps/api/src/routes/auth.ts
  apps/api/src/routes/courses.ts
  apps/api/src/routes/invoices.ts
  apps/web/src/app/business-suite/accounting/page.tsx
  apps/web/src/app/business-suite/accounting/reports/[type]/page.tsx
  apps/web/src/app/business-suite/cashbook/[id]/page.tsx
  apps/web/src/app/business-suite/cashbook/page.tsx
  apps/web/src/app/business-suite/invoicing/[id]/page.tsx
  apps/web/src/app/business-suite/invoicing/page.tsx
  apps/web/src/app/business-suite/layout.tsx
  apps/web/src/app/business/plan-builder/page.tsx
  apps/web/src/app/signup/page.tsx
Due: eslint --fix, prettier --write

fix: complete women-only gate with improved UI layout for gender identity and invite code
  apps/web/src/app/signup/page.tsx
Due: eslint --fix, prettier --write

fix: improve registration validation and error messages
  apps/web/next-env.d.ts
  apps/web/src/app/signup/page.tsx
Due: eslint --fix, prettier --write

fix: improve signup error handling
  apps/web/src/app/signup/page.tsx
Due: eslint --fix, prettier --write

fix: improve signup proxy handling
  apps/web/src/app/signup/page.tsx
  apps/web/src/lib/apiBase.js
Due: eslint --fix, prettier --write

fix(auth): handle non-json errors on signup and proxy config
  apps/web/src/app/signup/page.tsx
Due: eslint --fix, prettier --write

Revert "fix(auth): handle non-json errors on signup and proxy config"
  apps/web/src/app/signup/page.tsx
Due: eslint --fix, prettier --write

fix: Railway health check death loop + resource leak + CSP
  Dockerfile.railway
  apps/api/railway.toml
  apps/api/src/lib/deployment.ts
  apps/web/next.config.js
  railway.toml
Due: eslint --fix, prettier --write

fix: revert package-lock.json copy - npm 10.x lockfile incompatibility
  Dockerfile.railway
Due: none

fix: harden Dockerfile npm install - rm stale lockfile before install
  Dockerfile.railway
Due: none

fix: run prisma migrate deploy before server start to create DB tables
  apps/api/railway.toml
  railway.toml
Due: none

fix: resilient startup script - migrations don't block server start
  Dockerfile.railway
  apps/api/railway.toml
  apps/api/start.sh
  railway.toml
Due: none

fix: update Railway domain to ngurra-api-production.up.railway.app
  netlify.toml
Due: none

fix: always use /api proxy in browser to avoid CORS - use full URL only for SSR
  apps/web/src/lib/apiBase.js
Due: eslint --fix, prettier --write

feat: replace all dummy/placeholder data with authentic Australian institution data
  apps/web/src/app/mentorship/MentorshipClient.jsx
  apps/web/src/app/mentorship/page.jsx
  apps/web/src/app/page.tsx
  apps/web/src/app/profile/[id]/page.jsx
  apps/web/src/app/search/SearchClient.jsx
  apps/web/src/app/social-feed/[postId]/page.tsx
  apps/web/src/components/SearchBar.tsx
Due: eslint --fix, prettier --write

chore(repo): track railway deploy files and ignore dev logs
  .gitignore
  apps/api/scripts/verify_mentorship.ts
  apps/web/Dockerfile.railway
  apps/web/middleware.ts
  apps/web/railway.toml
Due: eslint --fix, prettier --write

fix(monorepo): stabilize web build and admin apis
  apps/api/src/app.ts
  apps/api/src/lib/sovereignty-store.ts
  apps/api/src/routes/adminTemplates.ts
  apps/api/src/routes/businesses.ts
  apps/api/src/routes/email-templates.ts
  apps/web/src/app/member/financial-wellness/page.tsx
  apps/web/src/app/social-feed/page.tsx
  apps/web/src/components/community/SuccessStories.tsx
Due: eslint --fix, prettier --write

fix(mobile): stabilize expo jest suite
  apps/mobile/.eslintrc.js
  apps/mobile/babel.config.js
  apps/mobile/jest.config.js
  apps/mobile/package-lock.json
  apps/mobile/package.json
  apps/mobile/src/__tests__/api.test.ts
  apps/mobile/src/__tests__/setup.ts
  apps/mobile/src/__tests__/socket.test.ts
  apps/mobile/src/__tests__/useSocket.test.ts
  apps/mobile/src/services/api.ts
  apps/mobile/src/services/socket.ts
Due: eslint --fix, prettier --write

fix(netlify): remove mobile .netlify directory and disable Edge Functions for mobile app
  netlify.toml
Due: none

fix(netlify): resolve Edge Functions issue with updated plugin and monorepo config
  netlify.toml
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: ((any of: *.{js,jsx,ts,tsx}) or (any of: apps/api/**/*.{ts,tsx})) or (any of: apps/web/**/*.{ts,tsx,js,jsx})
  prettier --write: ((((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})) or (any of: apps/api/**/*.{ts,tsx})) or (any of: apps/web/**/*.{ts,tsx,js,jsx})
