Repository chenjeraimunyaradzi05-art/Ngurra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "apps/api/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "apps/web/**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

fix(deps): pin react types via npm overrides
  package.json
Due: prettier --write

fix(deps): upgrade react to 18.3.1 to resolve type mismatch
  apps/web/package.json
  package.json
Due: prettier --write

fix(deps): move sendgrid/mail to dependencies
  package.json
Due: prettier --write

fix(netlify): remove trailing slash redirect causing loop
  netlify.toml
Due: none

fix: remove strict-dynamic CSP to fix script blocking on Netlify
  apps/web/next.config.js
  apps/web/src/middleware.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: upgrade to React 19 for Next.js 16 type compatibility
  apps/web/package.json
  package.json
Due: prettier --write

fix: add initial values to useRef calls for React 19 compatibility
  apps/web/src/components/ui/Tooltip.tsx
  apps/web/src/hooks/useUtils.ts
Due: eslint --fix, prettier --write

fix: replace styled-jsx with dangerouslySetInnerHTML for React 19
  apps/web/src/components/PWAInstallPrompt.tsx
  apps/web/src/components/notifications/NotificationProvider.jsx
Due: eslint --fix, prettier --write

fix(web): migrate middleware to proxy
  apps/web/.eslintrc.js
  apps/web/src/components/notifications/NotificationProvider.d.ts
  apps/web/src/middleware.ts
  apps/web/src/proxy.ts
Due: eslint --fix, prettier --write

fix(web): remove deprecated middleware
  apps/web/src/middleware.ts
Due: eslint --fix, prettier --write

fix(web): export proxy handler
  apps/web/src/proxy.ts
Due: eslint --fix, prettier --write

fix(web): align breadcrumbs types
  apps/web/src/components/ui/Breadcrumbs.tsx
Due: eslint --fix, prettier --write

fix(web): stabilize breadcrumbs node types
  apps/web/src/components/ui/Breadcrumbs.tsx
Due: eslint --fix, prettier --write

fix(web): stabilize card node types
  apps/web/src/components/ui/Card.tsx
Due: eslint --fix, prettier --write

fix(web): resolve tooltip trigger ref
  apps/web/src/components/ui/Tooltip.tsx
Due: eslint --fix, prettier --write

fix(web): resolve useRef and ESLint errors in useKeyboardNavigation
  apps/web/src/hooks/useKeyboardNavigation.ts
Due: eslint --fix, prettier --write

fix(web): handle non-JSON API responses gracefully
  apps/web/src/hooks/useAuth.ts
  apps/web/src/hooks/useFetch.ts
Due: eslint --fix, prettier --write

chore: add prisma seed configuration for Neon database
  apps/api/package.json
Due: prettier --write

fix: sync package-lock.json with package.json for Railway deployment
  package-lock.json
Due: prettier --write

fix: regenerate package-lock.json to resolve React version conflicts
  package-lock.json
Due: prettier --write

fix: restore missing AuthUser and ApiKeyInfo interfaces in express.ts
  apps/api/src/types/express.ts
Due: eslint --fix, prettier --write

fix: switch to esbuild for faster builds, skip TS type errors
  apps/api/build.mjs
  apps/api/package.json
  apps/api/src/lib/careerPortfolio.ts
  apps/api/src/schemas/index.ts
  apps/api/tsconfig.build.json
  apps/web/next-env.d.ts
  package-lock.json
Due: eslint --fix, prettier --write

chore: suppress non-critical esbuild warnings
  apps/api/build.mjs
Due: none

fix: preserve src directory structure in esbuild output for Railway deployment
  apps/api/build.mjs
Due: none

fix: add railway.toml with build command for deployment
  apps/api/build.mjs
  apps/api/railway.toml
  railway.toml
Due: none

fix: add nixpacks.toml for API deployment
  apps/api/nixpacks.toml
Due: none

fix: isolated API build to prevent timeout
  apps/api/nixpacks.toml
  railway.toml
Due: none
